 svg{
  display: none;
 }
 /* скрываем чекбокс */
 .burger{
  display: inline-block;
 }
 #toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .burgerlabel {
    display: block;
    position: absolute;
    top: 3em;
    left: 3em;
    width: 2em;
    height: 3em;
    cursor: pointer;
    z-index: 3;
  }
  /* добавляем "гамбургер" */
  .burgerlabel > span,
  .burgerlabel > span::before,
  .burgerlabel > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: #000000;
    border-radius: 10em;
  }
  
  .burgerlabel > span::before {
    content: "";
    top: -0.5em;
  }
  .burgerlabel > span::after {
    content: "";
    top: 0.5em;
  }
  /* контейнер меню */
  .burgerbox {
    z-index: 1;
    position: fixed;
    visibility: hidden;
    top: -100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15% 0;
    list-style: none;
    text-align: center;
    background-color: #353535;
    opacity: 0.9;
  }
  /* элементы меню */
  .item {
    cursor: pointer;
    display: block;
    padding: 4% 2%;
    color: #FFFF;
    font-family: "Roboto", sans-serif;
    font-size: 120%;
    font-weight: 600;
    text-decoration: none;
  }
  .item:hover {
    background-color: #cfd8dc;
  }
  
  #toggle:checked ~ .burgerlabel > span {
    transform: rotate(45deg);
  }
  #toggle:checked ~ .burgerlabel > span::before {
    top: 0;
    transform: rotate(0);
  }
  #toggle:checked ~ .burgerlabel > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #toggle:checked ~ .burgerbox {
    visibility: visible;
    top: 0;
    left: 0;
  }
  .burgerlabel > span,
  .burgerlabel > span::before,
  .burgerlabel > span::after, .burgerbox, .item  {
    transition-duration: 0.25s;
  }
  .logo {
    margin-top: 1%;
    margin-right: 5%;
    width: 35px;
    height: auto;
  }
  .nav ul li {
    display: flex;
    align-self:auto;
    list-style-type: none;
  }
  .theatreitem {
    display: none;
  }
 .theatre{
    font-size: 9vw;
    display: flex;
    align-items: center;
    align-self: baseline;
    width: auto;
    text-decoration: none;
    color: #221f1f;
    font-family: "Serifiqo 4F Free Capitals";
  }
  .hall {
    width: 100%;
    height: auto;
  }

  .newsblock {
    width: 100%;
    height: auto;
    margin-right: 3%;
    margin-left: 3%;
    padding: 1%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .buy{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    position: absolute;
    display: inline;
    float: right; 
  }
  
  .buyticket{
    position: relative;
    background-color: #353535;
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }