@font-face {
    font-family: 'Serifiqo 4F Free Capitals';
    src: local('Serifiqo 4F Free Capitals Regular'), local('Serifiqo-4F-Free-Capitals-Regular'),
        url('Serifiqo4FFreeCapitals.woff2') format('woff2'),
        url('Serifiqo4FFreeCapitals.woff') format('woff'),
        url('Serifiqo4FFreeCapitals.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }